<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style>
    .thumbnail{
        margin-left: 35px;
        margin-right: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .table{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 1020px;
        margin-left: 21px;
        border-radius: 5px; 
    }

    .crt{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn{
        margin-top: 10px;
    }

    #second{
        margin-top: 10px;
    }

    .form-control{
        margin-top: 3px;
    }

    label{
        margin-left: 2px;
    }

    .com{
        margin-top: 6px;
    }

    h1{
        margin-left: 21px;
    }
    
    body{
        margin-left: 15px;
    }

    h3{ 
        margin-left: 35px;
        color: red;
    }
</style>
<body>
<h1>Apartments</h1>

    <div class="row">
        <h3>{{errorMessage}}</h3>
        <div class="thumbnail col-sm-6 col-md-5">
            <div class="crt">
                <label for="comment">Create your add:</label>
                <input [(ngModel)]="cost" class="form-control" placeholder="Cost in US dollars"/>
                <input [(ngModel)]="rooms" placeholder="Rooms" class="form-control"/>
                
                <select [(ngModel)]="regionId" class="form-control">
                    <option value="">Choose region</option>
                    <option value="Медеуский">Медеуский</option>
                    <option value="Алмалинский">Алмалинский</option>
                    <option value="Бостандыкский">Бостандыкский</option>
                    <option value="Наурызбайский">Наурызбайский</option>
                    <option value="Алатауский">Алатауский</option>
                    <option value="Ауэзовский">Ауэзовский</option>
                    <option value="Жетысуский">Жетысуский</option>
                    <option value="Турксибский">Турксибский</option>
                </select>

                <label for="comment" class="com">Comment:</label>
                
                <textarea class="form-control" [(ngModel)]="description" rows="5" id="comment"></textarea>
                <button type="button" class="btn btn-success" (click)="create()">Create</button>

            </div>
            <label for="comment">Enter id of your add in order to delete:</label>
            <input type="number" class="form-control" [(ngModel)]="id" placeholder="ID"/>
            <button (click)="delete()" type="button" class="btn btn-danger">Delete</button>
        </div>

        <div class="thumbnail col-sm-7 col-md-5">
            <label for="comment" id="second">Update your add:</label>
            <input type="number" [(ngModel)]="id1" placeholder="ID" class="form-control"/>
            <input [(ngModel)]="cost1" placeholder="Cost" class="form-control"/>
            <input [(ngModel)]="rooms1" placeholder="Rooms" class="form-control"/>
            
            <select [(ngModel)]="regionId1" class="form-control">
                <option value="">Choose region</option>
                <option value="Медеуский">Медеуский</option>
                <option value="Алмалинский">Алмалинский</option>
                <option value="Бостандыкский">Бостандыкский</option>
                <option value="Наурызбайский">Наурызбайский</option>
                <option value="Алатауский">Алатауский</option>
                <option value="Ауэзовский">Ауэзовский</option>
                <option value="Жетысуский">Жетысуский</option>
                <option value="Турксибский">Турксибский</option>
            </select>

            <label for="comment" class="com">Comment:</label>
            
            <textarea class="form-control" [(ngModel)]="description1" rows="9" id="comment"></textarea>

            <button (click)="update()" type="button" class="btn btn-info">Update</button>
        </div>
    </div>

    <table class="table">
        <tr>
            <td>ID</td>
            <td>Cost(in US dollars)</td>
            <td>Rooms</td>
            <td>Region</td>
            <td>Description</td>
        </tr>

        <tr *ngFor="let item of Apartments">
            <td>{{item.id}}</td>
            <td>{{item.cost}}</td>
            <td>{{item.rooms}}</td>
            <td >{{item.regionId}}</td>
            <td>{{item.description}}</td>
        </tr>
    </table>
</body>